<!-- Main -->
<main class="column website-main-content quiz-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">
      {{quiz.name}}
    </h1>

    <!-- Form -->
    <form class="column">
      {{#each questions as |question|}}
        <div class="column form-container">
          <div class="row form-field-row">
            <!-- Question -->
            <p>{{question.question}}</p>
          </div>

          <!-- Answers -->
          {{#each question.answers as |answer|}}
            <button
              data-question-id="{{answer.questionId}}"
              data-answer-id="{{answer.id}}"
              data-is-correct="{{answer.isCorrect}}"
              class="btn-answer question-answer-btn"
            >{{answer.answer}}</button>
          {{/each}}
        </div>
      {{/each}}

      <div class="row form-submit-button-row">
        <!-- Submit Quiz Button -->
        <button id="quiz-submit-btn" class="btn-primary">Submit Quiz</button>
      </div>
    </form>
  </div>
</main>