<!-- Main -->
<main class="column website-main-content">
  <!-- Main Column -->
  <div class="column website-main-content-container">
    <!-- Main Title -->
    <h1 class="row main-content-title">Your Quizzes</h1>

    <div class="row create-quiz-button-row">
      <!-- Create A Quiz Button -->
      <button id="quizzes-create-quiz-button" class="btn-primary">
        Create a quiz
      </button>
    </div>

    <!-- Quiz List -->
    <ul class="column quiz-list">
      {{#each quizzes as |quiz|}}
        <!-- Quiz List Item -->
        <li class="column quiz-list-item">
          <!-- Title -->
          <h2>{{quiz.name}}</h2>

          <!-- Quiz Buttons -->
          <div class="row quiz-list-item-buttons">
            <div>
              <!-- Play Quiz Button -->
              <button
                data-quiz-id="{{quiz.id}}"
                class="btn-primary play-btn"
              >Play</button>
            </div>

            <div class="row">
              <!-- Delete Quiz Button -->
              <button
                data-quiz-id="{{quiz.id}}"
                data-quiz-name="{{quiz.name}}"
                class="btn-secondary delete-btn"
              >Delete</button>
            </div>
          </div>
        </li>
      {{else}}
        <p>Your quiz list is currently empty.</p>
      {{/each}}
    </ul>
  </div>
</main>

{{! Quizzes Script }}
<script src="/js/quizzes.js"></script>